@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}

.forgpass{
    background-color: rgb(247, 247, 247);
    margin-left: 40%;
    margin-right: 38%;
    margin-top: 10%;
    padding: 60px;
    border-radius: 15px;
}
.btn-primary{
    background-color: #0ed145;
    color: rgb(248, 238, 234);
    width: 75px;
    cursor: pointer;
}